:root {
  --background-color: #121212;
  --primary-text-color: #FFFFFF;
  --accent-color-0: #2ECC71;/* Green */
  --accent-color-1: #D35400; /* Rust Orange */
  --accent-color-2: #61DAFB; /* React Blue */
  --accent-color-3: #F1C40F; /* JavaScript Yellow */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

a, button {
  color: var(--accent-color-1);
  color: var(--highlight);
  transition: color 0.3s ease;
}

a:hover, button:hover {
  color: var(--accent-color-2);
}